* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	font-style: "D2Coding";
	font-size: 12px;
	color: white;
	text-decoration: none;
}

#visual {
	width: 520px;
	margin: 0;
	position: relative;
}

#pic {
	height: 320px;
	overflow: hidden;
	position: relative;
	box-shadow: 1px 5px 10px 2px #666;
}

#pic > div {
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}

#control {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 30px;
	text-align: center;
}

#control a {
  display: inline-block;
	width: 26px;
	height: 26px;
	background: #000;
	color: #fff;
	line-height: 26px;
	font-style: 0.8em;
	border-radius: 14px;
	margin: 0 2px;
}

#control a.on {
	background: #ff6600;
}

img {
	width: 520px;
	height: 320px;
}
